@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mate&family=Open+Sans:wght@400;700&family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}



html {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background: none;
}

body {
  height: 100%;
  margin: 0;
  color: #ddd8e4;
  display: flex;
  flex-direction: column;
}

.container {
  position: relative;
}

header {
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  z-index: 1000;
}

nav {
  position: absolute;
  top: 10px;
  right: 15px;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: 100px;
  width: 250px;
  height: 100%;
  padding: 0;
  z-index: 1000;
}

main {
  margin-top: 50px;
  margin-left: 350px;
  padding: 30px 80px;
}


main img {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  filter: drop-shadow(0 0 4px #f6c363);
}

h1 {
  font-size: 3rem;
  margin: 3rem auto;
  color: #123c69;
  font-family: 'Mate', serif; /* Use Mate font */
  text-align: center;
}

h2 {
  margin: 0;
  margin-top: 20px;
  font-size: 2rem; /* Adjust the size as needed */
  color: #ac3b61; /* Change color */
  font-family: 'Mate', serif; /* Use Mate font */
}

h3 {
  color: #123c69;
  font-family: 'Mate', serif;
  margin: 0;
  
}


p {
  font-size: 1.2rem;
  color: #505152;
  margin: 0;
}



.input {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid #123c69;
  border-radius: 4px;
  font-size: 1rem;
}





footer {
  margin-top: 2rem;
  padding: 1rem;
  background: #2a2a2a;
  color: #ddd8e4;
  text-align: center;
}





label {
  color: #535151;
  font-size: 1.5rem; /* Increased font size */
  font-family: 'Mate', serif; /* Use Mate font */
}

.auth-button {
  padding: 0.5rem 1rem; /* Adjust button padding */
  background-color: #ac3b61;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  color: #eee2dc;
  font-family: 'Mate', serif;
}

.auth-button:hover {
  background-color: #bd3df4;
}

.button-container {
  display: flex;
  gap: 1rem; /* Adjust spacing as needed */
  justify-content: center; /* Center buttons horizontally */
}


.gridContainer {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr); /* Three columns per row */
  justify-items: center; /* Center items horizontally */
}

.placeRow {
  display: contents; /* Allows items to flow as grid children */
}
