.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-bottom: 30px;
}

.input {
    margin-left: 20px;
    height: 30px;
    width: 200px;
}

.btnSubmit {
    margin-top: 30px;
    padding: 0.5rem 1rem;
    width: 130px;
    height: 40px;
    background-color: #3d52a0;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    color: #eee2dc;
}

.btnSubmit:hover {
    background-color: #bd3df4;
}