.placeList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  justify-content: center;
  margin: 0;
}

.placeBox {
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #f7f0dee7;
  text-align: center;
  width: 100%; 
}

.placeImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 10px 0;
}

.mapLink {
  color: #3d52a0;
  text-decoration: none;
}

.mapLink:hover {
  color: #ac3b6a;
}